<%- include('../userpart/header') %>

  <body id="body" class="body-wrapper sidebar-dark version1 up-scroll">
<!-- 
    <div class="main-wrapper product-grid-left-sidebar"> -->

      <!-- HEADER -->
      <!-- <div class="header clearfix"> -->

        <!-- HEADER SM -->
<!-- <div class="header-sm bg-primary d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="javascript:void(0)" class="headerToggle" id="sidebarToggle">
          <svg width="20" height="18" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0" width="20" height="2" fill="white"/>
            <rect y="6" width="20" height="2" fill="white"/>
            <rect y="12" width="20" height="2" fill="white"/>
          </svg>                    
        </a>
      </div>

      <div class="col-8 header-sm-logo-area">
        <img src="./assets/img/logo.png" alt="gg"> -->
        <!-- <a class='header-sm-logo' href='index.html'>
          <svg width="108" height="20" viewBox="0 0 108 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M102.426 11.5194L102.517 10.2607H108.007V17.7007C107.077 18.1768 106.175 18.5077 105.302 18.6929C104.429 18.8781 103.394 18.9703 102.197 18.9703C101.16 18.9703 100.205 18.8252 99.3327 18.5342C98.4596 18.2432 97.7062 17.8361 97.0738 17.3148C96.4407 16.7929 95.9053 16.1716 95.4668 15.449C95.0283 14.7271 94.7004 13.9336 94.4831 13.0677C94.2658 12.2019 94.1571 11.2852 94.1571 10.3174C94.1571 8.61614 94.4779 7.11033 95.1181 5.79807C95.7583 4.48646 96.7133 3.44904 97.9827 2.68517C99.252 1.92194 100.756 1.54001 102.495 1.54001C104.4 1.54001 106.093 1.97485 107.573 2.84388L106.921 4.01227C106.295 3.6342 105.588 3.32969 104.799 3.09936C104.01 2.8684 103.245 2.75356 102.506 2.75356C101.392 2.75356 100.4 2.94969 99.5266 3.34323C98.6534 3.73614 97.9469 4.27872 97.4056 4.97033C96.8636 5.66194 96.4544 6.45807 96.176 7.35743C95.8975 8.25743 95.7583 9.23614 95.7583 10.2948C95.7583 11.4213 95.8994 12.4381 96.1818 13.3458C96.4635 14.2529 96.8871 15.0374 97.4511 15.6987C98.0152 16.3607 98.7393 16.871 99.6241 17.2297C100.508 17.589 101.53 17.7684 102.689 17.7684C103.886 17.7684 105.205 17.4852 106.646 16.9181V11.5194H102.426ZM89.2913 12.9826H82.2348L79.9701 18.7097H78.5179L85.1625 1.83485H86.5692L92.9737 18.7097H91.4636L89.2913 12.9826ZM85.8489 3.29743C85.7572 3.63033 85.456 4.51485 84.9452 5.95162C84.4345 7.38775 83.9466 8.7413 83.4814 10.0116L82.795 11.9168H88.7649C87.0493 7.03291 86.0773 4.15936 85.8489 3.29743ZM76.9337 11.2245C77.5668 11.9961 77.883 12.9071 77.883 13.9581C77.883 15.4477 77.4067 16.6116 76.4536 17.451C75.5005 18.2903 74.0366 18.7097 72.062 18.7097H66.2977V1.83485H70.941C73.0529 1.83485 74.5948 2.18259 75.5668 2.87807C76.5395 3.57356 77.0255 4.63227 77.0255 6.05356C77.0255 6.22001 77.0235 6.34452 77.0196 6.42775C77.0157 6.51098 76.9988 6.67549 76.9682 6.9213C76.9376 7.16646 76.8901 7.37291 76.8251 7.53936C76.76 7.70517 76.6592 7.91162 76.5219 8.15743C76.3846 8.40323 76.2187 8.61614 76.0248 8.79807C75.8303 8.97936 75.5766 9.16259 75.2643 9.34775C74.9513 9.53356 74.5968 9.68646 74.2006 9.8071C75.3899 9.9813 76.3007 10.4536 76.9337 11.2245ZM74.4009 8.73549C74.7549 8.50517 75.0223 8.17614 75.2012 7.74904C75.3801 7.32194 75.4699 6.79033 75.4699 6.15549C75.4699 4.97614 75.1023 4.15807 74.3665 3.70001C73.6306 3.24259 72.466 3.0142 70.8727 3.0142H67.7615V9.35356H71.6619C72.2637 9.35356 72.7822 9.30839 73.2168 9.21743C73.6514 9.12646 74.0464 8.96646 74.4009 8.73549ZM71.0211 10.4652H67.7615V17.5755H71.6847C74.7724 17.5755 76.3163 16.3697 76.3163 13.9581C76.3163 12.6503 75.8889 11.7407 75.0353 11.2303C74.1817 10.72 72.8434 10.4652 71.0211 10.4652Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5022 12.0981L56.5256 9.68258H62.9295V17.7006C61.8925 18.1239 60.9113 18.4374 59.9849 18.6419C59.0584 18.8458 58.0539 18.9477 56.9713 18.9477C54.417 18.9477 52.4216 18.1845 50.9845 16.6568C49.5473 15.1297 48.8284 13.0394 48.8284 10.3858C48.8284 8.7 49.1641 7.21613 49.8348 5.9342C50.5056 4.65291 51.4932 3.65291 52.797 2.93484C54.1008 2.21678 55.6408 1.85742 57.4176 1.85742C59.4533 1.85742 61.1989 2.29226 62.655 3.16129L61.6491 5.45226C60.2614 4.71162 58.8698 4.34129 57.4749 4.34129C55.782 4.34129 54.4515 4.88516 53.4834 5.9742C52.5147 7.06258 52.0306 8.54452 52.0306 10.4194C52.0306 12.2794 52.4613 13.7503 53.3234 14.831C54.1848 15.9123 55.4463 16.4529 57.1086 16.4529C58.1762 16.4529 59.1443 16.2865 60.0135 15.9542V12.0981H56.5022ZM42.9215 2.09549H46.021V18.7097H42.9215V2.09549ZM39.5306 11.2761C40.0797 11.9826 40.3536 12.8542 40.3536 13.8897C40.3536 15.4548 39.7954 16.6497 38.6783 17.4735C37.5612 18.2974 36.0154 18.7097 34.0408 18.7097H27.8308V2.09549H33.0578C35.2763 2.09549 36.9301 2.41678 38.0206 3.05936C39.111 3.70194 39.6562 4.77162 39.6562 6.26903C39.6562 6.51097 39.6412 6.74903 39.6106 6.98323C39.58 7.21807 39.5111 7.48452 39.4044 7.78258C39.2977 8.08194 39.1565 8.35161 38.9815 8.59355C38.8058 8.83549 38.5619 9.07226 38.2496 9.30258C37.9366 9.53355 37.571 9.7129 37.152 9.84129C38.1884 10.091 38.9815 10.569 39.5306 11.2761ZM35.7734 4.84C35.1826 4.51484 34.2432 4.35226 32.9543 4.35226H30.9303V8.95678H33.5834C35.6341 8.95678 36.6601 8.18194 36.6601 6.63162C36.6601 5.76258 36.3641 5.16516 35.7734 4.84ZM36.2939 11.7123C35.6992 11.3039 34.7806 11.1 33.5379 11.1H30.9303V16.4871H33.6179C35.9965 16.4871 37.1858 15.5645 37.1858 13.72C37.1858 12.7897 36.8885 12.1206 36.2939 11.7123Z" fill="#1F1F1F"/>
            <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M11.7108 5.80646H6.50602H3.90361H1.3012C0.585542 5.80646 0 6.3871 0 7.09678V14.8387C0 17.6774 2.34217 20 5.20482 20H13.012C15.8747 20 18.2169 17.6774 18.2169 14.8387V7.09678C18.2169 6.3871 17.6313 5.80646 16.9157 5.80646H14.3133H11.7108ZM14.3133 8.3871H15.6145V14.8387C15.6145 16.2619 14.4466 17.4194 13.012 17.4194H5.20482C3.76959 17.4194 2.60241 16.2619 2.60241 14.8387V8.3871H3.90361H6.50602H11.7108H14.3133Z" fill="white"/>
            <path opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M3.90361 6.6671V9.03226V10.3226C3.90361 11.0342 4.48655 11.6129 5.20482 11.6129C5.92308 11.6129 6.50602 11.0342 6.50602 10.3226V9.03226V6.45161V5.16129C6.50602 3.73613 7.67125 2.58065 9.10843 2.58065C10.5456 2.58065 11.7108 3.73613 11.7108 5.16129V6.45161V9.03226V10.3226C11.7108 11.0342 12.2938 11.6129 13.012 11.6129C13.7297 11.6129 14.3133 11.0342 14.3133 10.3226V9.03226V6.45161V5.16129C14.3133 2.31097 11.9828 0 9.10843 0C6.23407 0 3.90361 2.31097 3.90361 5.16129V6.45161" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="108" height="20" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        </a> -->
      <!-- </div>

      <div class="col-2">
        <ul class="notify-dropdown">
          <li class="dropdown cart-dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle header-sm-notify" data-bs-toggle="dropdown" data-bs-display="static">
              <div class="notify-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.5 18.3333C7.96024 18.3333 8.33333 17.9602 8.33333 17.5C8.33333 17.0397 7.96024 16.6666 7.5 16.6666C7.03976 16.6666 6.66667 17.0397 6.66667 17.5C6.66667 17.9602 7.03976 18.3333 7.5 18.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M16.6667 18.3333C17.1269 18.3333 17.5 17.9602 17.5 17.5C17.5 17.0397 17.1269 16.6666 16.6667 16.6666C16.2064 16.6666 15.8333 17.0397 15.8333 17.5C15.8333 17.9602 16.2064 18.3333 16.6667 18.3333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M0.833333 0.833313H4.16667L6.4 11.9916C6.4762 12.3753 6.68492 12.7199 6.98962 12.9652C7.29432 13.2105 7.67558 13.3408 8.06667 13.3333H16.1667C16.5578 13.3408 16.939 13.2105 17.2437 12.9652C17.5484 12.7199 17.7571 12.3753 17.8333 11.9916L19.1667 4.99998H5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <span class="badge">3</span> -->

                <!-- <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 6.66666C15 5.34057 14.4732 4.0688 13.5355 3.13112C12.5979 2.19344 11.3261 1.66666 10 1.66666C8.67392 1.66666 7.40215 2.19344 6.46447 3.13112C5.52678 4.0688 5 5.34057 5 6.66666C5 12.5 2.5 14.1667 2.5 14.1667H17.5C17.5 14.1667 15 12.5 15 6.66666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M11.4417 17.5C11.2952 17.7526 11.0849 17.9622 10.8319 18.1079C10.5788 18.2537 10.292 18.3304 10 18.3304C9.70802 18.3304 9.42116 18.2537 9.16815 18.1079C8.91513 17.9622 8.70484 17.7526 8.55833 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> -->
              <!-- </div>
            </a> -->
<!-- 
            <ul class="dropdown-menu dropdown-menu-end notify-dropdown-menu">
              <li>Item(s) in your cart</li>
              
              <li>
                <a href='single-product.html'>
                  <div class="media">
                    <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                    <div class="media-body">
                      <h5 class="media-heading text-uppercase">Perfumes <br><span>1 X $23</span></h5>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a href='single-product.html'>
                  <div class="media">
                    <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-02.jpg" alt="cart-Image">
                    <div class="media-body">
                      <h5 class="media-heading text-uppercase">Watches <br><span>1 X $43</span></h5>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a href='single-product.html'>
                  <div class="media">
                    <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-03.jpg" alt="cart-Image">
                    <div class="media-body">
                      <h5 class="media-heading text-uppercase">shoes <br><span>1 X $33</span></h5>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <a>
                  <div class="media">
                    <div class="media-body">
                      <h6 class="media-heading text-uppercase text-white fw-bold d-flex mb-0">
                        Total <span class="ms-auto">$99</span>
                      </h6>
                    </div>
                  </div>
                </a>
              </li>

              <li>
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">Shopping Cart</button>
                  <button type="button" class="btn btn-default" onclick="location.href='checkout-step-1.html';">Checkout</button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


        TOPBAR -->
        <!-- <div class="topBar d-none d-md-block">
          <div class="container">
            <div class="row">
              <div class="col-md-6 d-none d-md-block">
                <ul class="list-inline">
                  <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fab fa-dribbble"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fab fa-vimeo-v"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fab fa-tumblr"></i></a></li>
                </ul>
              </div>

              <div class="col-md-6 col-12 position-relative">
                <a href="javascript:void(0)" id="sidebarToggle" class="sidebar-toggle d-md-none"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <ul class="list-inline float-end top-right topBarLeft">
                  <li class="account-login"><span><a data-bs-toggle="modal" href='.html'>Log in</a><small>or</small><a data-bs-toggle="modal" href='#signup'>Create an account</a></span></li>
                  <li class="searchBox">
                    <a class="text-white" href="javascript:void(0)"><i class="fas fa-search"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <form class="input-group">
                          <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2" required>
                          <button type="submit" class="input-group-addon">Submit</button>
                        </form>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown cart-dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static"><i class="fa fa-shopping-cart"></i>$99</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li>Item(s) in your cart</li>

                      <li>
                        <a href='single-product.html'>
                          <div class="media">
                            <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-01.jpg" alt="cart-Image">
                            <div class="media-body">
                              <h5 class="media-heading text-uppercase">Perfumes <br><span>1 X $23</span></h5>
                            </div>
                          </div>
                        </a>
                      </li>
        
                      <li>
                        <a href='single-product.html'>
                          <div class="media">
                            <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-02.jpg" alt="cart-Image">
                            <div class="media-body">
                              <h5 class="media-heading text-uppercase">Watches <br><span>1 X $43</span></h5>
                            </div>
                          </div>
                        </a>
                      </li>
        
                      <li>
                        <a href='single-product.html'>
                          <div class="media">
                            <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-03.jpg" alt="cart-Image">
                            <div class="media-body">
                              <h5 class="media-heading text-uppercase">shoes <br><span>1 X $33</span></h5>
                            </div>
                          </div>
                        </a>
                      </li>
        
                      <li>
                        <a>
                          <div class="media">
                            <div class="media-body">
                              <h6 class="media-heading text-uppercase text-white fw-bold d-flex mb-0">
                                Total <span class="ms-auto">$99</span>
                              </h6>
                            </div>
                          </div>
                        </a>
                      </li>

                      <li>
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">Shopping Cart</button>
                          <button type="button" class="btn btn-default" onclick="location.href='checkout-step-1.html';">Checkout</button>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> --> 

        <!-- NAVBAR -->
        <!-- <nav class="navbar navbar-main navbar-default navbar-expand-md navbar-scrollUp navbar-sticky d-none d-md-block" role="navigation">
          <div class="container"> -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <img src="./assets/img/logo1.png" alt="gg">
            <h1></h1> -->
            <!-- <a class='navbar-brand' href='index.html'>
              <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="166px" height="31px">
             <path class="logo-pl" fill-rule="evenodd"  fill="rgb(71, 186, 193)"
              d="M157.432,17.855 L157.573,15.904 L166.011,15.904 L166.011,27.436 C164.581,28.174 163.195,28.687 161.853,28.974 C160.511,29.261 158.921,29.404 157.081,29.404 C155.487,29.404 154.019,29.179 152.678,28.728 C151.336,28.277 150.178,27.646 149.206,26.838 C148.233,26.029 147.410,25.066 146.736,23.946 C146.062,22.827 145.558,21.597 145.224,20.255 C144.890,18.913 144.723,17.492 144.723,15.992 C144.723,13.355 145.216,11.021 146.200,8.987 C147.184,6.954 148.652,5.346 150.603,4.162 C152.554,2.979 154.866,2.387 157.538,2.387 C160.467,2.387 163.069,3.061 165.343,4.408 L164.341,6.219 C163.380,5.633 162.293,5.161 161.080,4.804 C159.867,4.446 158.692,4.268 157.555,4.268 C155.844,4.268 154.318,4.572 152.976,5.182 C151.634,5.791 150.548,6.632 149.716,7.704 C148.883,8.776 148.254,10.010 147.826,11.404 C147.398,12.799 147.184,14.316 147.184,15.957 C147.184,17.703 147.401,19.279 147.835,20.686 C148.268,22.092 148.919,23.308 149.786,24.333 C150.653,25.359 151.766,26.150 153.126,26.706 C154.485,27.263 156.055,27.541 157.837,27.541 C159.676,27.541 161.704,27.102 163.919,26.223 L163.919,17.855 L157.432,17.855 ZM137.244,20.123 L126.398,20.123 L122.917,29.000 L120.685,29.000 L130.898,2.844 L133.060,2.844 L142.904,29.000 L140.583,29.000 L137.244,20.123 ZM131.953,5.111 C131.812,5.627 131.349,6.998 130.564,9.225 C129.779,11.451 129.029,13.549 128.314,15.518 L127.259,18.471 L136.435,18.471 C133.798,10.901 132.304,6.447 131.953,5.111 ZM118.250,17.398 C119.223,18.594 119.709,20.006 119.709,21.635 C119.709,23.944 118.977,25.748 117.512,27.049 C116.047,28.350 113.797,29.000 110.762,29.000 L101.902,29.000 L101.902,2.844 L109.039,2.844 C112.285,2.844 114.655,3.383 116.149,4.461 C117.644,5.539 118.391,7.180 118.391,9.383 C118.391,9.641 118.388,9.834 118.382,9.963 C118.376,10.092 118.350,10.347 118.303,10.728 C118.256,11.108 118.183,11.428 118.083,11.686 C117.983,11.943 117.828,12.263 117.617,12.644 C117.406,13.025 117.151,13.355 116.853,13.637 C116.554,13.918 116.164,14.202 115.684,14.489 C115.203,14.777 114.658,15.014 114.049,15.201 C115.877,15.471 117.277,16.203 118.250,17.398 ZM114.357,13.540 C114.901,13.183 115.312,12.673 115.587,12.011 C115.862,11.349 116.000,10.525 116.000,9.541 C116.000,7.713 115.435,6.445 114.304,5.735 C113.173,5.026 111.383,4.672 108.934,4.672 L104.152,4.672 L104.152,14.498 L110.147,14.498 C111.072,14.498 111.869,14.428 112.537,14.287 C113.205,14.146 113.812,13.898 114.357,13.540 ZM109.162,16.221 L104.152,16.221 L104.152,27.242 L110.182,27.242 C114.928,27.242 117.301,25.373 117.301,21.635 C117.301,19.608 116.644,18.198 115.332,17.407 C114.020,16.616 111.963,16.221 109.162,16.221 Z"/>
             <path class="logo-pm" fill-rule="evenodd"  fill="rgb(51, 51, 51)"
              d="M86.846,18.752 L86.882,15.008 L96.725,15.008 L96.725,27.436 C95.131,28.092 93.623,28.578 92.199,28.895 C90.775,29.211 89.231,29.369 87.567,29.369 C83.641,29.369 80.574,28.186 78.365,25.818 C76.156,23.451 75.051,20.211 75.051,16.098 C75.051,13.485 75.567,11.185 76.598,9.198 C77.629,7.212 79.147,5.662 81.151,4.549 C83.155,3.436 85.522,2.879 88.253,2.879 C91.382,2.879 94.065,3.553 96.303,4.900 L94.757,8.451 C92.624,7.303 90.485,6.729 88.341,6.729 C85.739,6.729 83.694,7.572 82.206,9.260 C80.717,10.947 79.973,13.244 79.973,16.150 C79.973,19.033 80.635,21.313 81.960,22.988 C83.284,24.664 85.223,25.502 87.778,25.502 C89.419,25.502 90.907,25.244 92.243,24.729 L92.243,18.752 L86.846,18.752 ZM65.972,3.248 L70.736,3.248 L70.736,29.000 L65.972,29.000 L65.972,3.248 ZM60.760,17.478 C61.604,18.573 62.025,19.924 62.025,21.529 C62.025,23.955 61.167,25.807 59.450,27.084 C57.733,28.361 55.357,29.000 52.322,29.000 L42.777,29.000 L42.777,3.248 L50.811,3.248 C54.221,3.248 56.763,3.746 58.439,4.742 C60.115,5.738 60.953,7.396 60.953,9.717 C60.953,10.092 60.930,10.461 60.883,10.824 C60.836,11.188 60.730,11.601 60.566,12.063 C60.402,12.527 60.185,12.945 59.916,13.320 C59.646,13.695 59.271,14.062 58.791,14.419 C58.310,14.777 57.748,15.055 57.104,15.254 C58.697,15.641 59.916,16.382 60.760,17.478 ZM54.985,7.502 C54.077,6.998 52.633,6.746 50.652,6.746 L47.541,6.746 L47.541,13.883 L51.619,13.883 C54.771,13.883 56.348,12.682 56.348,10.279 C56.348,8.932 55.893,8.006 54.985,7.502 ZM55.785,18.154 C54.871,17.521 53.459,17.205 51.549,17.205 L47.541,17.205 L47.541,25.555 L51.672,25.555 C55.328,25.555 57.156,24.125 57.156,21.266 C57.156,19.824 56.699,18.787 55.785,18.154 Z"/>
             <path class="logo-pf" fill-rule="evenodd"  opacity="0.6" fill="rgb(71, 186, 193)"
              d="M18.000,9.000 L10.000,9.000 L6.000,9.000 L2.000,9.000 C0.900,9.000 -0.000,9.900 -0.000,11.000 L-0.000,23.000 C-0.000,27.400 3.600,31.000 8.000,31.000 L20.000,31.000 C24.400,31.000 28.000,27.400 28.000,23.000 L28.000,11.000 C28.000,9.900 27.100,9.000 26.000,9.000 L22.000,9.000 L18.000,9.000 ZM22.000,13.000 L24.000,13.000 L24.000,23.000 C24.000,25.206 22.205,27.000 20.000,27.000 L8.000,27.000 C5.794,27.000 4.000,25.206 4.000,23.000 L4.000,13.000 L6.000,13.000 L10.000,13.000 L18.000,13.000 L22.000,13.000 Z"/>
             <path class="logo-pf" fill-rule="evenodd"  opacity="0.6" fill="rgb(71, 186, 193)"
              d="M6.000,10.334 L6.000,14.000 L6.000,16.000 C6.000,17.103 6.896,18.000 8.000,18.000 C9.104,18.000 10.000,17.103 10.000,16.000 L10.000,14.000 L10.000,10.000 L10.000,8.000 C10.000,5.791 11.791,4.000 14.000,4.000 C16.209,4.000 18.000,5.791 18.000,8.000 L18.000,10.000 L18.000,14.000 L18.000,16.000 C18.000,17.103 18.896,18.000 20.000,18.000 C21.103,18.000 22.000,17.103 22.000,16.000 L22.000,14.000 L22.000,10.000 L22.000,8.000 C22.000,3.582 18.418,-0.000 14.000,-0.000 C9.582,-0.000 6.000,3.582 6.000,8.000 L6.000,10.000 "/>
             </svg>
            </a> -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button> -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown ">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li class=""><a href='index.html'>Home Default</a></li>
                    <li><a href='index-v2.html'>Home Classic</a></li>
                    <li><a href='index-v3.html'>Home Deals</a></li>
                    <li><a href='index-v4.html'>Home Mega</a></li>
                    <li><a href='index-v5.html'>Home Onepage</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown megaDropMenu active">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</b></a>
                  <ul class="dropdown-menu row">
                    <li class="col-md-3 col-12">
                      <ul class="list-unstyled">
                        <li>Products Grid View</li>
                        <li class="active"><a href='product-grid-left-sidebar.html'>Products Sidebar Left</a></li>
                        <li class=""><a href='product-grid-right-sidebar.html'>Products Sidebar Right</a></li>
                        <li class=""><a href='product-grid-3-col-filter.html'>Products 3 Columns V1</a></li>
                        <li class=""><a href='product-grid-3-col.html'>Products 3 Columns V2</a></li>
                        <li class=""><a href='product-grid-4-col.html'>Products 4 Columns</a></li>
                      </ul>
                    </li>
                    <li class="col-md-3 col-12">
                      <ul class="list-unstyled">
                        <li>Products List View</li>
                        <li class=""><a href='product-list-left-sidebar.html'>Products Sidebar Left</a></li>
                        <li class=""><a href='product-list-right-sidebar.html'>Products Sidebar Right</a></li>
                        <li class="listHeading">Product Single</li>
                        <li class=""><a href='single-product.html'>Single Product</a></li>
                        <li class=""><a href='product-comparison.html'>Product Comparison</a></li>
                      </ul>
                    </li>
                    <li class="col-md-3 col-12">
                      <ul class="list-unstyled">
                        <li>Checkout</li>
                        <li class=""><a href='checkout-step-2.html'>Step 1 - Shipping</a></li>
                        <li class=""><a href='checkout-step-3.html'>Step 2 - Payment</a></li>
                        <li class=""><a href='checkout-step-4.html'>Step 3 - Review</a></li>
                        <li class=""><a href='checkout-step-5.html'>Step 4 - Complete</a></li>
                      </ul>
                    </li>
                    <li class="col-md-3 col-12">
                      <ul class="list-unstyled">
                        <li>Others</li>
                        <li class=""><a href='product-categories.html'>Product Categories</a></li>
                        <li class=""><a href='cart-page-2.html'>Cart Page</a></li>
                      </ul>
                       <a href="#" class="menu-photo"><img src="assets/img/menu-photo.jpg" alt="menu-img"></a> -->
                    <!-- </li>
                  </ul>
                </li>
                <li class="nav-item dropdown ">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li class=""><a href='about-us.html'>About Us</a></li>
                    <li class=""><a href='contact-us.html'>Contact Us</a></li>
                    <li class=""><a href='signup.html'>Register</a></li>
                    <li class=""><a href='signup-login.html'>Register or Login</a></li>
                    <li class=""><a href='login.html'>Login</a></li>
                    <li class=""><a href='lost-password.html'>Password Recovery</a></li>
                    <li class=""><a href='privacy-policy.html'>Privacy Policy</a></li>
                    <li class=""><a href='terms-and-conditions.html'>Terms &amp; Conditions</a></li>
                    <li class=""><a href='faq.html'>FAQ</a></li>
                    <li><a href='404.html'>404 Not Found</a></li>
                    <li><a href='coming-soon.html'>Coming Soon</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown ">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class=""><a href='blog-right-sidebar.html'>Right Sidebar</a></li>
                    <li class=""><a href='blog-left-sidebar.html'>Left Sidebar</a></li>
                    <li class=""><a href='blog-fullwidth.html'>Full Width</a></li>
                    <li class=""><a href='blog-single-fullwidth.html'>Single Post</a></li>
                    <li class=""><a href='blog-single-right-sidebar.html'>Single Right Sidebar</a></li>
                    <li class=""><a href='blog-single-left-sidebar.html'>Single Left Sidebar</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown ">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class=""><a href='account-dashboard.html'>Dashboard</a></li>
                    <li class=""><a href='account-profile.html'>Profile</a></li>
                    <li class=""><a href='account-all-orders.html'>All Orders</a></li>
                    <li class=""><a href='account-single-order.html'>Single Order</a></li>
                    <li class=""><a href='account-wishlist.html'>Wishlist</a></li>
                    <li class=""><a href='account-address.html'>Address</a></li>
                    <li class=""><a href='my-tickets.html'>My tickets</a></li>
                    <li class=""><a href='single-ticket.html'>Single ticket</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown megaDropMenu ">
                  <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Components</b></a>
                  <ul class="dropdown-menu row">
                    <li class="col-md-4 col-12">
                      <ul class="list-unstyled">
                        <li>Basic Elements</li>
                        <li class=""><a href='basic-accordions.html'>Accordions</a></li>
                        <li class=""><a href='basic-alert.html'>Alert</a></li>
                        <li class=""><a href='basic-badge.html'>Badge</a></li>
                        <li class=""><a href='basic-buttons.html'>Buttons </a></li>
                        <li class=""><a href='basic-buttons-group.html'>Button Group</a></li>
                        <li class=""><a href='basic-card.html'>Cards</a></li>
                      </ul>
                    </li>
                    <li class="col-md-4 col-12">
                      <ul class="list-unstyled">
                        <li>Basic Elements</li>
                        <li class=""><a href='basic-countdown.html'>Countdown </a></li>
                        <li class=""><a href='basic-divider.html'>Divider </a></li>
                        <li class=""><a href='basic-forms.html'>Forms</a></li>
                        <li class=""><a href='basic-heading.html'>Heading </a></li>
                        <li class=""><a href='basic-icon-style.html'>Icon Style </a></li>
                        <li class=""><a href='basic-iconset.html'>Iconset (Font Awesome)</a></li>
                      </ul>
                    </li>
                    <li class="col-md-4 col-12">
                      <ul class="list-unstyled">
                        <li>Basic Elements</li>
                        <li class=""><a href='basic-modal.html'>Modal </a></li>
                        <li class=""><a href='basic-progressbar.html'>Progressbar</a></li>
                        <li class=""><a href='basic-tables.html'>Tables </a></li>
                        <li class=""><a href='basic-tabs.html'>Tabs</a></li>
                        <li class=""><a href='basic-typography.html'>Typography </a></li>
                        <li class=""><a href='basic-video.html'>Video </a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div> <! /.navbar-collapse -->
            <!-- <div class="version2">
              <div class="dropdown cart-dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle shop-cart" data-bs-toggle="dropdown" data-bs-display="static">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="badge text-white">3</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>Item(s) in your cart</li>

                  <li>
                    <a href='single-product.html'>
                      <div class="media">
                        <img class="media-left media-object" src="assets/img/home/cart-items/" alt="cart-Image">
                        <div class="media-body">
                          <h5 class="media-heading text-uppercase">Perfumes <br><span>1 X $23</span></h5>
                        </div>
                      </div>
                    </a>
                  </li>
    
                  <li>
                    <a href='single-product.html'>
                      <div class="media">
                        <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-02.jpg" alt="cart-Image">
                        <div class="media-body">
                          <h5 class="media-heading text-uppercase">Watches <br><span>1 X $43</span></h5>
                        </div>
                      </div>
                    </a>
                  </li>
    
                  <li>
                    <a href='single-product.html'>
                      <div class="media">
                        <img class="media-left media-object" src="assets/img/home/cart-items/cart-item-03.jpg" alt="cart-Image">
                        <div class="media-body">
                          <h5 class="media-heading text-uppercase">shoes <br><span>1 X $33</span></h5>
                        </div>
                      </div>
                    </a>
                  </li>
    
                  <li>
                    <a>
                      <div class="media">
                        <div class="media-body">
                          <h6 class="media-heading text-uppercase text-white fw-bold d-flex mb-0">
                            Total <span class="ms-auto">$99</span>
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">Shopping Cart</button>
                      <button type="button" class="btn btn-default" onclick="location.href='checkout-step-1.html';">Checkout</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>  -->


        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href='index.html'>
                <!-- <img src="assets/img/logo.png" alt="Logo"> -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="166px" height="31px">
                <path class="logo-pl" fill-rule="evenodd"  fill="rgb(71, 186, 193)"
                  d="M157.432,17.855 L157.573,15.904 L166.011,15.904 L166.011,27.436 C164.581,28.174 163.195,28.687 161.853,28.974 C160.511,29.261 158.921,29.404 157.081,29.404 C155.487,29.404 154.019,29.179 152.678,28.728 C151.336,28.277 150.178,27.646 149.206,26.838 C148.233,26.029 147.410,25.066 146.736,23.946 C146.062,22.827 145.558,21.597 145.224,20.255 C144.890,18.913 144.723,17.492 144.723,15.992 C144.723,13.355 145.216,11.021 146.200,8.987 C147.184,6.954 148.652,5.346 150.603,4.162 C152.554,2.979 154.866,2.387 157.538,2.387 C160.467,2.387 163.069,3.061 165.343,4.408 L164.341,6.219 C163.380,5.633 162.293,5.161 161.080,4.804 C159.867,4.446 158.692,4.268 157.555,4.268 C155.844,4.268 154.318,4.572 152.976,5.182 C151.634,5.791 150.548,6.632 149.716,7.704 C148.883,8.776 148.254,10.010 147.826,11.404 C147.398,12.799 147.184,14.316 147.184,15.957 C147.184,17.703 147.401,19.279 147.835,20.686 C148.268,22.092 148.919,23.308 149.786,24.333 C150.653,25.359 151.766,26.150 153.126,26.706 C154.485,27.263 156.055,27.541 157.837,27.541 C159.676,27.541 161.704,27.102 163.919,26.223 L163.919,17.855 L157.432,17.855 ZM137.244,20.123 L126.398,20.123 L122.917,29.000 L120.685,29.000 L130.898,2.844 L133.060,2.844 L142.904,29.000 L140.583,29.000 L137.244,20.123 ZM131.953,5.111 C131.812,5.627 131.349,6.998 130.564,9.225 C129.779,11.451 129.029,13.549 128.314,15.518 L127.259,18.471 L136.435,18.471 C133.798,10.901 132.304,6.447 131.953,5.111 ZM118.250,17.398 C119.223,18.594 119.709,20.006 119.709,21.635 C119.709,23.944 118.977,25.748 117.512,27.049 C116.047,28.350 113.797,29.000 110.762,29.000 L101.902,29.000 L101.902,2.844 L109.039,2.844 C112.285,2.844 114.655,3.383 116.149,4.461 C117.644,5.539 118.391,7.180 118.391,9.383 C118.391,9.641 118.388,9.834 118.382,9.963 C118.376,10.092 118.350,10.347 118.303,10.728 C118.256,11.108 118.183,11.428 118.083,11.686 C117.983,11.943 117.828,12.263 117.617,12.644 C117.406,13.025 117.151,13.355 116.853,13.637 C116.554,13.918 116.164,14.202 115.684,14.489 C115.203,14.777 114.658,15.014 114.049,15.201 C115.877,15.471 117.277,16.203 118.250,17.398 ZM114.357,13.540 C114.901,13.183 115.312,12.673 115.587,12.011 C115.862,11.349 116.000,10.525 116.000,9.541 C116.000,7.713 115.435,6.445 114.304,5.735 C113.173,5.026 111.383,4.672 108.934,4.672 L104.152,4.672 L104.152,14.498 L110.147,14.498 C111.072,14.498 111.869,14.428 112.537,14.287 C113.205,14.146 113.812,13.898 114.357,13.540 ZM109.162,16.221 L104.152,16.221 L104.152,27.242 L110.182,27.242 C114.928,27.242 117.301,25.373 117.301,21.635 C117.301,19.608 116.644,18.198 115.332,17.407 C114.020,16.616 111.963,16.221 109.162,16.221 Z"/>
                <path class="logo-pm" fill-rule="evenodd"  fill="rgb(51, 51, 51)"
                  d="M86.846,18.752 L86.882,15.008 L96.725,15.008 L96.725,27.436 C95.131,28.092 93.623,28.578 92.199,28.895 C90.775,29.211 89.231,29.369 87.567,29.369 C83.641,29.369 80.574,28.186 78.365,25.818 C76.156,23.451 75.051,20.211 75.051,16.098 C75.051,13.485 75.567,11.185 76.598,9.198 C77.629,7.212 79.147,5.662 81.151,4.549 C83.155,3.436 85.522,2.879 88.253,2.879 C91.382,2.879 94.065,3.553 96.303,4.900 L94.757,8.451 C92.624,7.303 90.485,6.729 88.341,6.729 C85.739,6.729 83.694,7.572 82.206,9.260 C80.717,10.947 79.973,13.244 79.973,16.150 C79.973,19.033 80.635,21.313 81.960,22.988 C83.284,24.664 85.223,25.502 87.778,25.502 C89.419,25.502 90.907,25.244 92.243,24.729 L92.243,18.752 L86.846,18.752 ZM65.972,3.248 L70.736,3.248 L70.736,29.000 L65.972,29.000 L65.972,3.248 ZM60.760,17.478 C61.604,18.573 62.025,19.924 62.025,21.529 C62.025,23.955 61.167,25.807 59.450,27.084 C57.733,28.361 55.357,29.000 52.322,29.000 L42.777,29.000 L42.777,3.248 L50.811,3.248 C54.221,3.248 56.763,3.746 58.439,4.742 C60.115,5.738 60.953,7.396 60.953,9.717 C60.953,10.092 60.930,10.461 60.883,10.824 C60.836,11.188 60.730,11.601 60.566,12.063 C60.402,12.527 60.185,12.945 59.916,13.320 C59.646,13.695 59.271,14.062 58.791,14.419 C58.310,14.777 57.748,15.055 57.104,15.254 C58.697,15.641 59.916,16.382 60.760,17.478 ZM54.985,7.502 C54.077,6.998 52.633,6.746 50.652,6.746 L47.541,6.746 L47.541,13.883 L51.619,13.883 C54.771,13.883 56.348,12.682 56.348,10.279 C56.348,8.932 55.893,8.006 54.985,7.502 ZM55.785,18.154 C54.871,17.521 53.459,17.205 51.549,17.205 L47.541,17.205 L47.541,25.555 L51.672,25.555 C55.328,25.555 57.156,24.125 57.156,21.266 C57.156,19.824 56.699,18.787 55.785,18.154 Z"/>
                <path class="logo-pf" fill-rule="evenodd"  opacity="0.6" fill="rgb(71, 186, 193)"
                  d="M18.000,9.000 L10.000,9.000 L6.000,9.000 L2.000,9.000 C0.900,9.000 -0.000,9.900 -0.000,11.000 L-0.000,23.000 C-0.000,27.400 3.600,31.000 8.000,31.000 L20.000,31.000 C24.400,31.000 28.000,27.400 28.000,23.000 L28.000,11.000 C28.000,9.900 27.100,9.000 26.000,9.000 L22.000,9.000 L18.000,9.000 ZM22.000,13.000 L24.000,13.000 L24.000,23.000 C24.000,25.206 22.205,27.000 20.000,27.000 L8.000,27.000 C5.794,27.000 4.000,25.206 4.000,23.000 L4.000,13.000 L6.000,13.000 L10.000,13.000 L18.000,13.000 L22.000,13.000 Z"/>
                <path class="logo-pf" fill-rule="evenodd"  opacity="0.6" fill="rgb(71, 186, 193)"
                  d="M6.000,10.334 L6.000,14.000 L6.000,16.000 C6.000,17.103 6.896,18.000 8.000,18.000 C9.104,18.000 10.000,17.103 10.000,16.000 L10.000,14.000 L10.000,10.000 L10.000,8.000 C10.000,5.791 11.791,4.000 14.000,4.000 C16.209,4.000 18.000,5.791 18.000,8.000 L18.000,10.000 L18.000,14.000 L18.000,16.000 C18.000,17.103 18.896,18.000 20.000,18.000 C21.103,18.000 22.000,17.103 22.000,16.000 L22.000,14.000 L22.000,10.000 L22.000,8.000 C22.000,3.582 18.418,-0.000 14.000,-0.000 C9.582,-0.000 6.000,3.582 6.000,8.000 L6.000,10.000 "/>
              </svg>
 
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar" data-simplebar style="height: 100%;">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#home"
                    aria-expanded="true" aria-controls="home">
                    <i class="mdi mdi-home-outline"></i>
                    <span class="nav-text">Home</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="home" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class='sidenav-item-link' href='index.html'>
                          <span class="nav-text">Home Default</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='index-v2.html'>
                          <span class="nav-text">Home Classic</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='index-v3.html'>
                          <span class="nav-text">Home Deals</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='index-v4.html'>
                          <span class="nav-text">Home Mega</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='index-v5.html'>
                          <span class="nav-text">Home Onepage</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub active expand">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#shop"
                    aria-expanded="false" aria-controls="shop">
                    <i class="mdi mdi-shopping"></i>
                    <span class="nav-text">Shop</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse show" id="shop" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="section-title">
                        Products Grid View
                      </li>

                      <li class="active">
                        <a class='sidenav-item-link' href='product-grid-left-sidebar.html'>
                          <span class="nav-text">Products Sidebar Left</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-grid-right-sidebar.html'>
                          <span class="nav-text">Products Sidebar Right</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-grid-3-col-filter.html'>
                          <span class="nav-text">Products 3 Columns V1</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-grid-3-col.html'>
                          <span class="nav-text">Products 3 Columns V2</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-grid-4-col.html'>
                          <span class="nav-text">Products 4 Columns</span>
                        </a>
                      </li>

                      <li class="section-title">
                        Products List View
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-list-left-sidebar.html'>
                          <span class="nav-text">Products Sidebar Left</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-list-right-sidebar.html'>
                          <span class="nav-text">Products Sidebar Right</span>
                        </a>
                      </li>

                      <li class="section-title">
                        Product Single
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='single-product.html'>
                          <span class="nav-text">Single Product</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-comparison.html'>
                          <span class="nav-text">Product Comparison</span>
                        </a>
                      </li>

                      <li class="section-title">
                        Checkout
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='checkout-step-2.html'>
                          <span class="nav-text">Step 1 - Shipping</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='checkout-step-3.html'>
                          <span class="nav-text">Step 2 - Payment</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='checkout-step-4.html'>
                          <span class="nav-text">Step 3 - Review</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='checkout-step-5.html'>
                          <span class="nav-text">Step 4 - Complete</span>
                        </a>
                      </li>

                      <li class="section-title">
                        Others
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='product-categories.html'>
                          <span class="nav-text">Product Categories</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='cart-page-2.html'>
                          <span class="nav-text">Cart Page</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#pages"
                    aria-expanded="false" aria-controls="pages">
                    <i class="mdi mdi-file-multiple"></i>
                    <span class="nav-text">Pages</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="pages" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class='sidenav-item-link' href='about-us.html'>
                          <span class="nav-text">About Us</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='contact-us.html'>
                          <span class="nav-text">Contact Us</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='signup.html'>
                          <span class="nav-text">Register</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='signup-login.html'>
                          <span class="nav-text">Register or Login</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='login.html'>
                          <span class="nav-text">Login</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='lost-password.html'>
                          <span class="nav-text">Password Recovery</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='privacy-policy.html'>
                          <span class="nav-text">Privacy Policy</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='terms-and-conditions.html'>
                          <span class="nav-text">Terms & Conditions</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='faq.html'>
                          <span class="nav-text">FAQ</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='404.html'>
                          <span class="nav-text">404 Not Found</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='coming-soon.html'>
                          <span class="nav-text">Coming Soon</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#blog"
                    aria-expanded="false" aria-controls="blog">
                    <i class="mdi mdi-pencil-box"></i>
                    <span class="nav-text">Blog</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="blog" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class='sidenav-item-link' href='blog-right-sidebar.html'>
                          <span class="nav-text">Right Sidebar</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='blog-left-sidebar.html'>
                          <span class="nav-text">Left Sidebar</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='blog-fullwidth.html'>
                          <span class="nav-text">Full Width</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='blog-single-fullwidth.html'>
                          <span class="nav-text">Single Post</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='blog-single-right-sidebar.html'>
                          <span class="nav-text">Single Right Sidebar</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='blog-single-left-sidebar.html'>
                          <span class="nav-text">Single Left Sidebar</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#my-account"
                    aria-expanded="false" aria-controls="my-account">
                    <i class="mdi mdi-account-card-details"></i>
                    <span class="nav-text">My Account</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="my-account" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="">
                        <a class='sidenav-item-link' href='account-dashboard.html'>
                          <span class="nav-text">Dashboard</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='account-profile.html'>
                          <span class="nav-text">Profile</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='account-all-orders.html'>
                          <span class="nav-text">All Orders</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='account-single-order.html'>
                          <span class="nav-text">Single Order</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='account-wishlist.html'>
                          <span class="nav-text">Wishlist</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='account-address.html'>
                          <span class="nav-text">Address</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='my-tickets.html'>
                          <span class="nav-text">My tickets</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='single-ticket.html'>
                          <span class="nav-text">Single ticket</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>

                <li class="has-sub ">
                  <a class="sidenav-item-link" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#ui-components"
                    aria-expanded="false" aria-controls="ui-components">
                    <i class="mdi mdi-folder-outline"></i>
                    <span class="nav-text">UI Components</span> <b class="caret"></b>
                  </a>

                  <ul class="collapse " id="ui-components" data-bs-parent="#sidebar-menu">
                    <div class="sub-menu">
                      <li class="section-title">
                        Basic Elements
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-accordions.html'>
                          <span class="nav-text">Accordions</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-alert.html'>
                          <span class="nav-text">Alert</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-badge.html'>
                          <span class="nav-text">Badge</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-buttons.html'>
                          <span class="nav-text">Buttons</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-buttons-group.html'>
                          <span class="nav-text">Button Group</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-card.html'>
                          <span class="nav-text">Cards</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-countdown.html'>
                          <span class="nav-text">Countdown</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-divider.html'>
                          <span class="nav-text">Divider</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-forms.html'>
                          <span class="nav-text">Forms</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-heading.html'>
                          <span class="nav-text">Heading</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-icon-style.html'>
                          <span class="nav-text">Icon Style</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-iconset.html'>
                          <span class="nav-text">Iconset (Font Awesome)</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-modal.html'>
                          <span class="nav-text">Modal</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-progressbar.html'>
                          <span class="nav-text">Progressbar</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-tables.html'>
                          <span class="nav-text">Tables</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-tabs.html'>
                          <span class="nav-text">Tabs</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-typography.html'>
                          <span class="nav-text">Typography</span>
                        </a>
                      </li>

                      <li class="">
                        <a class='sidenav-item-link' href='basic-video.html'>
                          <span class="nav-text">Video</span>
                        </a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="sidebar-footer">
              <div class="sidebar-footer-content bg-primary">
                <ul class="d-flex">
                  <li>
                    <a href="javascript:void(0)"><i class="mdi mdi-settings"></i></a>
                  </li>

                  <li>
                    <a href="javascript:void(0)"><i class="mdi mdi-chat-processing"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </aside>


<!-- HEADER FORM -->
<div class="header-form-area bg-primary d-md-none">
  <form class="header-form" action="#" method="">
    <div class="input-group">
      <input type="text" class="form-control py-0" required="" id="expire" placeholder="Search...">
      <div class="input-group-append">
        <button class="input-group-text border-0 btn bg-white" type="submit">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.16667 14.8333C11.8486 14.8333 14.8333 11.8486 14.8333 8.16667C14.8333 4.48477 11.8486 1.5 8.16667 1.5C4.48477 1.5 1.5 4.48477 1.5 8.16667C1.5 11.8486 4.48477 14.8333 8.16667 14.8333Z" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.5 16.5L12.875 12.875" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </button>
      </div>
    </div>
  </form>
</div>



      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="page-title">
                <h2>Products</h2>
              </div>
            </div>
            <div class="col-md-6">
              <ol class="breadcrumb float-end">
                <li>
                  <a href='/'>Home</a>
                </li>
                <li>
                  <a href="/shop">shop</a>
                </li>
                <li class="/404Page">Products</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix productsContent">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4 sideBar">
              <div class="accordion filter-accordion" id="accordionExample">
                <div class="accordion-item panel">
                  <h2 class="accordion-header panel-heading d-md-none" id="headingTwo">
                    <div class="collapsed filter-button position-relative" role='button' data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      All filters <span class="position-absolute end-0"><i class="fa fa-angle-down"></i></span>
                    </div>
                  </h2>

                  <div id="collapseTwo" class="accordion-collapse collapse d-md-block" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body px-0 pb-0 pt-md-0">
                      <div class="panel panel-default">
                        <div class="panel-heading">Product categories</div>
                        <div class="panel-body">
                          <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                            <ul class="nav navbar-nav side-nav" id="accordion2" role="tablist" aria-multiselectable="true">
                              <li>
                                <!-- <div class="" role="tab" id="heading1">
                                  <a href="/parentcategory?value=travelerbag" data-bs-target="#women" aria-controls="women">Traveler Bag <i
                                      class="fa fa-plus"></i></a>
                                </div> -->
                                
                                <!-- <ul id="women" class="collapse collapseItem show" role="tabpanel" aria-labelledby="heading1" data-bs-parent="#accordion2">
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
                                  <li><a href="javascript:void(0)"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
                                </ul> -->
                              </li>
                              
                              <li>
              
                                <form action="/shopSort3" method="post">
                                  <ul>
                                      <%for (i=0; i<categoryDet.length; i++) {%>
                                          <li>
                                              <input type="radio" name="cid" value="<%=categoryDet[i]._id%>" />
                                              <label for="range-<%=categoryDet[i]._id%>"><%=categoryDet[i].categoryname%></label>
                                          </li>
                                      <%}%>
                                  </ul>
                                  <!-- Include any additional form elements or buttons here -->
                                  <button type="submit" class="btn btn-primary ">Submit</button>
                              </form>
                            
                                
                               
                              </li>
        
                              <li>
                   
                              </li>
        
                              
                            </ul>
                          </div>
                        </div>
                      </div>

                     
        
                      <form action="/shopSort2" method="post">
                        <div class="panel panel-default filterNormal">
                            <div class="panel-heading">Filter by Price</div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <input type="radio" name="sortBy" value="0" />
                                        <label for="range-500-1000">0-100</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="sortBy" value="1" />
                                        <label for="range-1000-1500">100-150</label>
                                    </li>
                                    <li>
                                        <input type="radio" name="sortBy" value="2" />
                                        <label for="range-1500-2000">150-200</label>
                                    </li>
                                </ul>
                                <button type="submit" class="btn btn-primary ">Submit</button>
                            </div>
                        </div>
                
                    </form>
                    
 
           <form  action="/shopSort" method="post" >
                      <div style="margin-top: 20px;" class="panel panel-default filterNormal">
                        <div class="panel-heading">filter by product</div>
                        <div class="panel-body">
                          <ul class="list-unstyled clearfix">
                            <li>
                              <input type="radio" name="sortBy" value="nameAsc" />
                              <label for="range-500-1000">NameAssending</label>
                            </li>
                            <li>
                              <input type="radio" name="sortBy" value="nameDes" />
                              <label for="range">NameDisending</label>
                            </li>
                            <li>
                              <input type="radio" name="sortBy" value="priceAsc" />
                              <label for="range">PriceAssending</label>
                            </li>
                            <li>
                              <input type="radio" name="sortBy" value="priceDes" />
                              <label for="range">PriceDisending</label>
                            </li>
                            <li>
                              <input type="radio" name="sortBy" value="newProduct" />
                              <label for="range">New products</label>
                            </li>
                           
                          </ul>
                          <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                      </div>
                    </form>
                    </div>
                    <a href="/removefiltter"><button  class="btn btn-primary ">Remove Filters</button></a>
                  </div>
                </div>
              </div>
            </div>

          

         
            <div class="col-lg-9 col-md-8">
              <div class="row filterArea">
                <div class="col-6">
              
                <form action="/filtter" method="post">
                 <input class="px-4 py-2" style="margin-left: 25px;" type="search" placeholder="search" name="search" ><button class="btn bg-info py-0" type="submit">search</button>
                </form>
                </div>
              
                <div class="col-6">
                  <div class="btn-group float-end" role="group">
                    <button type="button" class="btn btn-default active" onclick="window.location.href='product-grid-left-sidebar-2.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
                    <button type="button" class="btn btn-default" onclick="window.location.href='product-list-left-sidebar-2.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
                  </div>
                </div>
              </div>

           <div class="row">
            <% for(let i=0; i<productDet.length; i++){ %>
              <div class="col-md-4">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <a href="/singleProduct?id=<%= productDet[i]._id %>">
                      <img src="assets/uploads/<%=productDet[i].productImage[0]%>" alt="products-img">
                    </a>

                  </div>
                  <div class="productCaption clearfix">
                    <% if(productDet[i].productStock==2){%>
                      <h5 style="color: red;" > Only 2 stocks left</h5>
                   <% } else if(productDet[i].productStock==1){ %>
                     <h5 style="color: red;" > Only 1 stocks left</h5>
                    <% } else if(productDet[i].productStock==4){ %>
                      <h4 style="color: red;" >limited Stocks availaple</h4>
                      <% } else if(productDet[i].productStock==3){ %>
                        <h4 style="color: red;" >limited Stocks availaple</h4>
                      <% } else if(productDet[i].productStock==0){ %>
                        <h3 style="color: red;" > Out of Stocks</h3>

                        <% }%>
                      <%if(productDet[i]?.isWhishlisted==true){%>
                        <i class="fa-solid fa-heart fa-beat" onclick="fn2('<%=productDet[i]?._id%>','<%=userLogged?._id%>')" style="color: #e50b41;font-size: 20px;"></i>
                     <% }else{%>
                        <i class="fa-solid fa-heart fa-beat" onclick="fn('<%=productDet[i]?._id%>','<%=userLogged?._id%>')" ></i>
    
                        <% }%>


<script>
  async function fn(productId,userId){
    
            let response = await fetch(`/whishlist?id=${productId}&action=${userId}`, {
                              method: 'GET',
                          })
                          let result = await response.json()
                          if (result.list) {
                              await Swal.fire({
                                  icon: "success",
                                  title: "Product Listed",
                              });
                              window.location.reload()


                          } else {
                            await Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Please Login!",
                        
                      });
                          }
                      }
                       
  

</script> 

  
                   
        
   <script>
   
          
   </script>                     
                      
                        
                      
                       
                      <h5>
                        <%=productDet[i]?.productName%>
                      </h5>
                   <% if(productDet[i]?.productPrice < productDet[i]?.priceBeforeOffer){%>
                    <h3>

                      ₹ <%=productDet[i]?.productPrice%> <span><h3 style="color: red;" > <strike>₹ <%=productDet[i]?.priceBeforeOffer%></strike></h3> </span>
                     
                    </h3>
                  <% }else{%>
                    <h3>
                      
                      ₹ <%=productDet[i]?.productPrice%>
                    </h3>
                <% }%>
                  </div>
                </div>
              </div>
              <% } %>

          </div>

          <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
             <%for(i=0;i<totalPages;i++){%>
              <li class="page-item"><a class="page-link" href="/shop?pages=<%=i+1%>"><%=i+1%></a></li>
                     <%}%>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
    
 
<!-- 
    <div class="row">
      <% for(let i=0; i<productDet.length; i++){ %>
        <div class="col-md-6 col-lg-4">
          <div class="productBox">
            <div class="productImage clearfix">
              <!-- <a href="/singleProduct?id=<%= productDet[i]._id %>">
                <!-- <img src="assets/img/uploads/<%=productDet[i].productImage[0]%>" alt="products-img"> -->
              <!-- </a>

            </div>
            <div class="productCaption clearfix">
            
                <h5>
                  
                </h5>
             
              <h3> 
              </h3>
            </div>
          </div>
        </div>
        <% } %> -->

    <!-- </div>
  </div>
</div>
</div> --> --> -->
</section> 
   <script>
   
   </script>
   

          <!-- <div class="row">
            <% for(let i=0; i<productDet.length; i++){ %>
              <div class="col-md-6 col-lg-4">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <a href="/singleProduct?id=<%= productDet[i]._id %>">
                      <img src="assets/uploads/<%=productDet[i].productImage[0]%>" alt="products-img">
                    </a>

                  </div>
                  <div class="productCaption clearfix">
                  
                      <h5>
                        <%=productDet[i].productName%>
                      </h5>
                   
                    <h3><%=productDet[i].productPrice%>
                    </h3>
                  </div>
                </div>
              </div>
              <% } %>
             
          </div> -->
        </div>
      </div>
    </div>
  </section>

                <!-- <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$249</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$179</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$149</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$199</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$249</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$179</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$149</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$199</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$249</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>bag</h5>
                      </a>
                      <h3>$179</h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="productBox">
                    <div class="productImage clearfix">
                      <img src="assets/img/products/oliur-1JNk998-g70-unsplash.jpg" alt="products-img">
                      <div class="productMasking">
                        <ul class="list-inline btn-group" role="group">
                          <li><a class="btn btn-default btn-wishlist"><i class="far fa-heart"></i></a></li>
                          <li><a href="javascript:void(0)" class="btn btn-default" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product" data-toast-message="successfuly added to cart!" class="btn btn-default"><i class="fa fa-shopping-basket"></i></a></li>
                          <li><a class="btn btn-default" data-bs-toggle="modal" href="-2.html" ><i class="fa fa-eye"></i></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="productCaption clearfix">
                      <a href='single-product.html'>
                        <h5>Nike Sportswear</h5>
                      </a>
                      <h3>$149</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class=" partnersLogoSlider">
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-01.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-02.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-03.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-04.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-05.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-01.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-02.png" alt="partner-img">
                  </div>
                </div>

                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <img src="assets/img/home/partners/partner-03.png" alt="partner-img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- PORDUCT QUICK VIEW MODAL -->
      <div class="modal fade quick-view" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close top-0 lh-1 px-3" data-bs-dismiss="modal" aria-hidden="true"></button>
              
              <div class="media flex-wrap">
                <div class="media-left px-0">
                  <img class="media-object" src="assets/img/products/quick-view/quick-view-01.jpg" alt="Image">
                </div>
                
                <div class="media-body">
                  <h2>Old Skool Navy</h2>
                  <h3>$149</h3>
                  <p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
                  
                  <span class="quick-drop">
                    <select name="guiest_id3" id="guiest_id3" class="select-drop">
                      <option value="0">Size</option>
                      <option value="1">Size 1</option>
                      <option value="2">Size 2</option>
                      <option value="3">Size 3</option>
                    </select>
                  </span>
                  
                  <span class="quick-drop resizeWidth">
                    <select name="guiest_id4" id="guiest_id4" class="select-drop">
                      <option value="0">Qty</option>
                      <option value="1">Qty 1</option>
                      <option value="2">Qty 2</option>
                      <option value="3">Qty 3</option>
                    </select>
                  </span>
                  
                  <div class="btn-area">
                    <a class='btn btn-primary btn-block' href='cart-page-2.html'>Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      			<!-- FOOTER -->
            <%- include('../userpart/footer') %>
      <script>
        
                
            
                   
                 
        
      </script>
   

      			<!-- FOOTER -->
           