<%- include('../adminpart/adminhead') %>

  <body>
    <style>
      .error {
        color: red;
      }
    </style>
    <div style="margin-top: 70px;" class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h4>Product Details</h4>
            
            <form id="productForm2">
              <div class="form-group">
                <label for="products">CouponCode:</label>
                <input class="form-control" name="couponCode" id="ProductName" value="<%=couponDet?.couponCode%>">
              </div>
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" name="startDate" id="startDate" value="<%=couponDet?.startDate.toISOString().split('T')[0]%>">
              </div>
              <div class="form-group">
                <label for="expiryDate">Minimum Purchase:</label>
                <input type="number" class="form-control" id="minimumPurchase" value="<%=couponDet?.minimumPurchase%>" name="MinimumPurchase">
              </div>
              <div class="form-group">
                <label for="expiryDate">Expiry Date:</label>
                <input type="date" class="form-control" name="expiryDate" id="expiryDate" value="<%=couponDet?.expiryDate.toISOString().split('T')[0]%>">
              </div>
              <div class="form-group">
                <label for="offerPercentage">Offer Price:</label>
                <input type="number" name="offerPrice" class="form-control" id="offerPercentage" value="<%=couponDet?.discountPercentage%>" placeholder="Enter offer percentage">
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Save</button>
               
              </div>
            </form>
          </div>
        </div>
      </div>
      <script>
        $("#productForm2").validate({
          rules: {
                    couponCode: {
                        required: true,
                        minlength: 5
                    },
                    startDate: {
                        required: true,
                        date: true
                    },
                    MinimumPurchase: {
                        required: true,
                        number: true,
                        min: 0
                    },
                    expiryDate: {
                        required: true,
                        date: true
                    },
                    offerPrice: {
                        required: true,
                        number: true,
                        min: 0
                    }
                },
                messages: {
                    couponCode: {
                        required: "Please enter a coupon code",
                        minlength: "Coupon code must be at least 5 characters long"
                    },
                    startDate: {
                        required: "Please enter a start date",
                        date: "Please enter a valid date"
                    },
                    MinimumPurchase: {
                        required: "Please enter a minimum purchase amount",
                        number: "Please enter a valid number",
                        min: "Minimum purchase cannot be less than 0"
                    },
                    expiryDate: {
                        required: "Please enter an expiry date",
                        date: "Please enter a valid date"
                    },
                    offerPrice: {
                        required: "Please enter an offer price",
                        number: "Please enter a valid number",
                        min: "Offer price cannot be less than 0"
                    }
                },
    
          submitHandler: async function (form,event) {
            event.preventDefault()
          const formData = {
             categoryname:form.couponCode.value,
              startDate:form.startDate.value,
              expiryDate:form.expiryDate.value,
              offerPercentage:form.offerPercentage.value,
              MinimumPurchase:form.MinimumPurchase.value,
              offerPrice:form.offerPrice.value,
              offerid:'<%=couponDet._id%>',
            }
          
            
    
            // Submit data using Fetch API
            let response = await fetch('/couponOfferedit', {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(formData)
            });
    
            let result = await response.json()
            if (result.success) {
              await Swal.fire({
                icon: "success",
                title: " Coupon eddited",
              });
              window.location.reload()
            }
          }
        });
    
    
      </script>
  </body>