<%- include('../adminpart/adminhead') %>

<body>
  <style>
    .error {
      color: red;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">

    </div>
  </nav>
  <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Add Coupon
  </button>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Coupon Details</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal Body -->
        <form id="productForm">
          <div class="modal-body">
            <div class="form-group">
              <label for="productName">Coupon Name:</label>
              <input type="text" class="form-control" id="productName" name="name" placeholder="Enter CouponCode " >
            </div>
            <div class="form-group">
              <label for="startDate">Start Date:</label>
              <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group">
              <label for="expiryDate">Expiry Date:</label>
              <input type="date" class="form-control" id="expiryDate" name="expiryDate">
            </div>
            <div class="form-group">
              <label for="minimumPurchase">Minimum Purchase:</label>
              <input type="number" class="form-control" id="minimumPurchase" name="minimumPurchase"  placeholder="Enter minimumPurchase" >
            </div>
            <div class="form-group">
              <label for="offerPercentage">Offer Price:</label>
              <input type="number" class="form-control" id="offerPercentage" name="offerPrice"
                placeholder="Enter offer price">
            </div>
          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="fw-bold"><span class="lead">category Name</span></th>
        <th scope="col" class="fw-bold"><span class="lead">Offer Price</span></th>
        <th scope="col" class="fw-bold"><span class="lead">MinimumPurchase</span></th>
        <th scope="col" class="fw-bold"><span class="lead">Start Date</span></th>
        <th scope="col" class="fw-bold"><span class="lead">Expiry Date</span></th>
        <th scope="col" class="fw-bold"><span class="lead">Action</span></th>
      </tr>
    </thead>
    <tbody>
  <%for(i=0;i<couponDet.length;i++){%>
      <tr>
        <th scope="row">
          <span class="lead"><%=couponDet[i].couponCode%></span>
        </th>
        <td>
         $ <span class="lead"><%=couponDet[i].discountPercentage%></span>
        </td>
        <td>
         $ <span class="lead"><%=couponDet[i].minimumPurchase%></span>
        </td>
        <td>
          <span class="lead"><%=couponDet[i].startDate.toDateString()%></span>
        </td>
        <td>
            <span class="lead"><%=couponDet[i].expiryDate.toDateString()%></span>
          </td>
        <td>

          <a href="/couponEditpage?id=<%=couponDet[i]._id%>"><button   type="button" class="btn btn-primary" data-toggle="" data-target="">
            Edit
          </button></a>
          
          <a href="/coupondelete?id=<%=couponDet[i]._id%>"><button   type="button" class="btn btn-danger" data-toggle="" data-target="">
            Delete
          </button></a>
            
        </td>
        
          
        </tr>
 <% }%>
      
    </tbody>
  </table>
  <script>
$("#productForm").validate({
  rules: {
    name: {
      required: true,
      minlength: 3,
      maxlength: 50
    },
    startDate: "required",
    expiryDate: "required",
    offerPrice: {
      required: true,
      number: true,
      min: 0,
      max:100
      
    },
    minimumPurchase: {
      required: true,
      number: true,
      min: 0,
      
    }
  },
  messages: {
    name: {
      required: "Please enter a coupon code",
      minlength: "Coupon code must be at least 5 characters long"
    },
    startDate: "Please enter a start date",
    expiryDate: "Please enter an expiry date",
    offerPrice: {
      required: "Please enter an offer price",
      number: "Please enter a valid number",
       min: "Offer price cannot be less than 5$",
    },
    minimumPurchase: {
      required: "Please enter a minimum purchase amount",
      number: "Please enter a valid number",
      min: "Minimum purchase must be greater than or equal to 0"
    }
  },
  errorElement: "div",
  errorPlacement: function (error, element) {
    error.addClass("invalid-feedback");
    error.insertAfter(element);
  },
  highlight: function (element, errorClass, validClass) {
    $(element).addClass("is-invalid").removeClass("is-valid");
  },
  unhighlight: function (element, errorClass, validClass) {
    $(element).removeClass("is-invalid").addClass("is-valid");
  },
  submitHandler: async function (form, event) {
    event.preventDefault();
    
    // Prevent multiple submissions
    if (form.beingSubmitted) {
      return false;
    }
    form.beingSubmitted = true;

    const formData = $(form).serializeArray();
    const jsonData = {};
    formData.forEach(field => {
      jsonData[field.name] = field.value;
    });

    try {
      let response = await fetch('/couponDet', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
      });

      let result = await response.json();
      if (result.success) {
        await Swal.fire({
          icon: "success",
          title: "Coupon offer added",
        });
        form.reset();  // Clear the form
        $('#myModal').modal('hide');  // Hide the modal
        window.location.reload();
      } else {
        await Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Coupon already exists",
        });
      }
    } catch (error) {
      await Swal.fire({
        icon: "error",
        title: "Submission failed",
        text: "An error occurred while submitting the form."
      });
    } finally {
      form.beingSubmitted = false;
    }
  }
});




  </script>
  <script>
   

  </script>
 <script>
  // JavaScript to handle the click event
$(document).on('click', '#unblock', function() {
  $('#editModal').modal('show');
});

 </script>

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>

</body>

</html>