
<%- include('../adminpart/adminhead') %>

<body>
    <style>
        .error {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
        integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addcat">
                <div>

                    <div class="form-outline mb-4" style="margin-top: 10px;">
                        <input type="text" placeholder="Category" name="category" id="category"
                            class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" placeholder="Category Description" name="categorydes"
                            id="categorydes" class="form-control pb-5" />

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </div>    
                </form>
            </div>
        </div>
    </div>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            
        </div>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><span class=" lead">Order ID</span> </th>
                <th scope="col"><span class=" lead">orderDate</span> </th>
                <th scope="col"><span class=" lead">Amount</span> </th>
                <th scope="col"><span class="  lead">Delivery Method</span> </th>
                <th scope="col"><span class="  lead">Status</span> </th>
                <th scope="col"><span class="  lead">View</span> </th>
            </tr>
        </thead>
        <tbody>
         
            <% for(let i=0;i<orderDet?.length;i++){ %>
                <tr>
                    <th scope="row">
                      <span class="lead ">
                    <%=orderDet[i]?._id%>
                    </span>
                    </th>
                    <td >
                      <span class="lead ">
                        <%=orderDet[i]?.orderDate.toDateString()%>
                      </span>
                    </td>
                   
                    <td>
                      <span class="lead ">
                        <%=orderDet[i]?.Total%>  
                      </span>


                    </td>
                    <td>
                      <span class="lead ">
                        <%=orderDet[i]?.paymentType%>
                      </span>
                    </td> 
                    <
                   
                      <% if ('cancel'==orderDet[i]?.orderStatus) { %> 
                        <td><span  class="badge bg-danger"><%=orderDet[i].orderStatus%></span></td>
                        <% } else if('Delivered'==orderDet[i]?.orderStatus){ %>
                          <td><span  class="badge bg-success"><%=orderDet[i].orderStatus%></span></td>
                          <% } else if('Return'==orderDet[i]?.orderStatus){ %>
                            <td><span  class="badge bg-success"><%=orderDet[i].orderStatus%></span></td>
                          <% }else { %> 
                            <td><span  class="badge bg-primary"><%=orderDet[i].orderStatus%></span></td>
                            <% } %>
                     
                   
                    <td>
                      <span class="lead ">
                        <a href="/orderStatus?orderId=<%=orderDet[i]?._id%>&user=<%=orderDet[i].userId%>&add=<%=orderDet[i].address%>"><button class="btn btn-primary">View</button>

                      </span>
                    </td>
                </tr>
             <% } %>
      
            </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
 
 
    </script>
    <script>
 



 
</script> 
</body>
  



<!-- Mirrored from bigbag-html.netlify.app/login by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 09:40:43 GMT -->



</html>