<!DOCTYPE html>
<html lang="en">
  
  <head>
  
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>big bags-Online Shopping India</title>
  
    <!-- PLUGINS CSS STYLE -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='assets/plugins/fontawesome-5.15.2/css/all.min.css' rel='stylesheet'>
    <link href='assets/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet'>
    <link href='assets/plugins/material/css/materialdesignicons.min.css' rel='stylesheet' />
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    <link href='assets/plugins/simplebar/simplebar.css' rel='stylesheet' />
  
    <link href='assets/plugins/selectbox/select_option1.css' rel='stylesheet'>
  
  
    <link href='assets/plugins/iziToast/css/iziToast.css' rel='stylesheet'>
  
  
    <link rel='stylesheet' type='text/css' href='assets/plugins/slick/slick.css' media='screen'>
    <link rel='stylesheet' type='text/css' href='assets/plugins/slick/slick-theme.css' media='screen'>
  
    <!-- CUSTOM CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/default.css" id="option_style">
  
    <!-- Icons -->
    <!-- <link rel="icon" href="/public/assets/img/favicon.png"> -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
  
  
  <!-- form validate -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
  integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
  integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  </head>
  
  
  <div class="main-wrapper home">
  
    <!-- HEADER -->
    <div class="header clearfix">
  
      <!-- HEADER SM -->
      <div class="header-sm bg-primary d-md-none">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <a href="javascript:void(0)" class="headerToggle" id="sidebarToggle">
                <svg width="20" height="18" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="0" width="20" height="2" fill="white" />
                  <rect y="6" width="20" height="2" fill="white" />
                  <rect y="12" width="20" height="2" fill="white" />
                </svg>
              </a>
            </div>
  
            <div class="me-auto col-10 header-sm-logo-area">
              <img src="./assets/img/logo.png" alt="gg">
            </div>
  
          </div>
        </div>
      </div>
  
  
      <!-- TOPBAR -->
     
  
      <!-- NAVBAR -->
      <nav class="navbar navbar-main navbar-default navbar-expand-md navbar-scrollUp navbar-sticky d-none d-md-block"
        role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <img src="assets/img/logo1.png" alt="gg">
          <h1></h1>
        
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
            aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
  
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav ms-auto">
  
              <li class="nav-item ">
                <form action="/adminlogout" method="post">
                    <button class="btn btn-danger btn-lg px-3" type="submit">Logout</button>
                </form>
  
              </li>
  
            </ul>
          </div><!-- /.navbar-collapse -->
  
        </div>
      </nav>
    </div>

<body>
  <style>
    .error {
      color: red;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

 
<h1 class="mt-5 text-center">Edit Product</h1>
<div class="my-5 d-flex justify-content-center" >
  <form id="editproduct" enctype="multipart/form-data" class="border border-2 p-5">

    <div class="form-group">
      <label for="exampleFormControlInput1">Product Name</label>
      <input type="text" value="<%=productDet.productName%>" name="productName" class="form-control"
        id="exampleFormControlInput1" placeholder="" maxlength="50" style="max-width: 200px;">
    </div>
    <br>
    <select name="parentCategory" class="form-control form-control md" style="max-width: 200px;">
      <option disabled selected>
        <%= categoryDet.categoryname %>
      </option>
      <% for(let i=0;i<categoryDetail.length;i++){ %>
        <option value="<%=categoryDetail[i]._id%>">
          <%=categoryDetail[i].categoryname%>
        </option>
        <% } %>
    </select>

    <br>
    <div class="form-group">
      <span id="imageCount" style="margin-top: 5px;">
        <% if (productDet.productImage.length> 0) { %>
          <%=productDet.productImage.length%> images exists
            <% } else { %>
              No image exists
              <% } %>
      </span>
    </div>

    <br>
    <div class="d-flex flex-column align-items-start">
      <% for(let i=0;i<productDet?.productImage.length;i++){ %>
          <div class="position-relative m-2">
              <img src="assets/uploads/<%=productDet.productImage[i]%>"
                  style="height: 60px; width: 60px; border-radius: 0;" alt="">
              <button type="button" class="btn btn-danger delete-image"
                  data-id="<%=productDet._id%>" data-index="<%=i%>">Delete</button>
          </div>
          <% } %>
     </div>

  


      <div class="form-group">
        <label for="images">Add image</label>    
          <input type="file" name="images" value="productDet.productImages[i]" class="form-control-file" id="images"
            multiple>
      </div>
      <div class="form-outline mb-4">
        <input type="text" placeholder="Product Description" name="productdes"
            id="productdes" class="form-control pb-5" value="<%=productDet.productDiscription%>" style="max-width: 200px;"/>

    </div>

        <br>
        <div class="form-group">
          <label for="exampleFormControlInput1">Product Price</label>
          <input class="form-control" value="<%=productDet.productPrice%>" name="productPrice" type="text"
            placeholder="" maxlength="50" style="max-width: 200px;">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleFormControlInput1">Product Stock</label>
          <input class="form-control" value="<%=productDet.productStock%>" name="productStock" type="text"
            placeholder="" maxlength="50" style="max-width: 200px;">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>   
  
  <script>
    $('#editproduct').validate({
      rules: {
        productName: {
          required: true,
        },
        productPrice: {
          required: true,
          pattern: "[0-9]+"
        },
        productStock: {
          required: true,
          pattern: "[0-9]+"
        },
        productdes: {
           required: true,
        },
      },
      submitHandler: async (form, event) => {

        event.preventDefault()
       
        const formData = new FormData(form);
        console.log(formData);


        let response = await fetch('/productupdate/<%=productDet._id%>', {
          method: 'POST',
          body: formData
        })

        let result = await response.json()
        if (result.exists) {
          await Swal.fire({
            icon: "error",
            title: "Product Already exists"
          })
        }
        if (result.success) {
          await Swal.fire({
            icon: "success",
            title: "Product Edited"
          })
          window.location.href = '/product'
        }
        if (result.noValue) {
          await Swal.fire({
            icon: "error",
            title: "No Value in Product Name"
          })
        }
        if (result.noImage) {
          await Swal.fire({
            icon: "error",
            title: "Select atleast 3 images"
          })
        }
      }
    })
    $('.delete-image').click(function () {
            // Get the product id and index of the image to be deleted
            var productId = $(this).data('id');
            var index = $(this).data('index');

            // Send an AJAX request to delete the image
            $.ajax({
                url: '/delete-image',
                method: 'POST',
                data: {
                    productId: productId,
                    index: index
                },
                success: function (response) {
                    // Remove the image element from the DOM
                    $('.position-relative').eq(index).remove();
                }
            });
        });

  </script>
</body>

</html>