<%- include('../adminpart/adminhead') %>

<body>
  <style>
    .error {
      color: red;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

 
    <div class="container mt-5">
      <h1 class="text-center">Edit Product</h1>
      <div class="my-5 d-flex justify-content-center">
          <form id="editproduct" enctype="multipart/form-data" class="border border-2 p-5">
  
              <div class="form-group">
                  <label for="exampleFormControlInput1">Product Name</label>
                  <input type="text" value="<%=productDet.productName%>" name="productName" class="form-control" id="exampleFormControlInput1" placeholder="" maxlength="50" style="max-width: 300px;">
              </div>
  
              <div class="form-group">
                  <label for="parentCategory">Parent Category</label>
                  <select name="parentCategory" class="form-control" style="max-width: 300px;">
                      <option disabled selected><%= categoryDet.categoryname %></option>
                      <% for(let i=0;i<categoryDetail.length;i++){ %>
                      <option value="<%=categoryDetail[i]._id%>"><%=categoryDetail[i].categoryname%></option>
                      <% } %>
                  </select>
              </div>
  
              <div class="form-group">
                  <span id="imageCount">
                      <% if (productDet.productImage.length> 0) { %>
                      <%=productDet.productImage.length%> images exist
                      <% } else if(productDet.productImage===null){ %>
                      No images exist
                      <% } %>
                  </span>
              </div>
  
              <div class="d-flex flex-column align-items-start">
                  <% for(let i=0;i<productDet?.productImage.length;i++){ %>
                  <div class="position-relative m-2">
                      <img src="assets/uploads/<%=productDet.productImage[i]%>" style="height: 60px; width: 60px; border-radius: 0;" alt="">
                      <button type="button" class="btn btn-danger delete-image" data-id="<%=productDet._id%>" data-index="<%=i%>">Delete</button>
                  </div>
                  <% } %>
              </div>
  
              <div class="form-group">
                  <label for="images">Add image</label>
                  <input type="file" name="images" value="productDet.productImages[i]" accept="image/*" class="form-control-file" id="images" multiple>
              </div>
  
              <div class="form-group">
                  <label for="exampleFormControlInput1">Product Description</label>
                  <input type="text" placeholder="Product Description" name="productdes" id="productdes" class="form-control" value="<%=productDet.productDiscription%>" style="max-width: 300px;">
              </div>
  
              <div class="form-group">
                  <label for="exampleFormControlInput1">Product Price</label>
                  <input class="form-control" value="<%=productDet.productPrice%>" name="productPrice" type="text" placeholder="" maxlength="50" style="max-width: 300px;">
              </div>
  
              <div class="form-group">
                  <label for="exampleFormControlInput1">Product Stock</label>
                  <input class="form-control" value="<%=productDet.productStock%>" name="productStock" type="text" placeholder="" maxlength="50" style="max-width: 300px;">
              </div>
  
              <button type="submit" class="btn btn-success">Save</button>
          </form>
      </div>
  </div>
  
  <script>
    $('#editproduct').validate({
      rules: {
        productName: {
          required: true,
        },
        
        productPrice: {
          required: true,
          pattern: "[0-9]+"
        },
        productStock: {
          required: true,
          pattern: "[0-9]+"
        },
        productdes: {
           required: true,
        },
      },
      submitHandler: async (form, event) => {

        event.preventDefault()
       
        const formData = new FormData(form);
        console.log(formData);


        let response = await fetch('/productupdate/<%=productDet._id%>', {
          method: 'POST',
          body: formData
        })

        let result = await response.json()
        if (result.exists) {
          await Swal.fire({
            icon: "error",
            title: "Product Already exists"
          })
        }
        if (result.success) {
          await Swal.fire({
            icon: "success",
            title: "Product Edited"
          })
          window.location.href = '/product'
        }
        if (result.noValue) {
          await Swal.fire({
            icon: "error",
            title: "No Value in Product Name"
          })
        }
        if (result.noImage) {
          await Swal.fire({
            icon: "error",
            title: "Select atleast 3 images"
          })
        }
      }
    })
    $('.delete-image').click(function () {
            // Get the product id and index of the image to be deleted
            var productId = $(this).data('id');
            var index = $(this).data('index');

            // Send an AJAX request to delete the image
            $.ajax({
                url: '/delete-image',
                method: 'POST',
                data: {
                    productId: productId,
                    index: index
                },
                success: function (response) {
                    // Remove the image element from the DOM
                    $('.position-relative').eq(index).remove();
                }
            });
        });

  </script>
</body>

</html>