<%- include('../adminpart/adminhead') %>

  <body>
  

    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title">
              <h2>SINGLE ORDER</h2>
            </div>
          </div>

        </div>
      </div>
    </section>
 
    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix userProfile">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="btn-group me-0" role="group" aria-label="...">
              <!-- Additional buttons can be added here -->
            </div>
          </div>
        </div>
        <select style="width: 150px;" id="mySelect" class="form-select form-select-sm" onchange="myFunction()">
          <option selected>Select Status</option>
          <option value="Pending">Pending</option>
          <option value="cancel">cancel</option>
          <option value="Delivered">Delivered</option>
          <option value="Shipped">Shipped</option>
          <option value="Return">Return</option>
        </select>
        
        <div class="row">
          <div class="col-12">
            <div class="innerWrapper singleOrder">
              <div class="orderBox d-flex align-items-center mb-4">
                <h2 class="orderBoxContent mb-0">Order ID:<%=orderDet?.OrderId%>
                </h2>
                <div class="ms-3">
                  <% if ('Pending'==orderDet?.orderStatus) { %>
                    <a class='btn btn-sm btn-primary' href=''>
                      <%=orderDet?.orderStatus%>
                    </a>
                    <% } else if('Delivered'==orderDet?.orderStatus){ %>
                      <a class='btn btn-sm btn-success' href=''>
                        <%=orderDet?.orderStatus%>
                      </a>
                      <% } else if('Return'==orderDet?.orderStatus){ %>
                        <a class='btn btn-sm btn-success' href=''>
                          <%=orderDet?.orderStatus%>
                        </a>
                        <% }else { %>
                          <a class='btn btn-sm btn-danger' href=''>
                            <%=orderDet?.orderStatus%>
                          </a>
                          <% } %>
                </div>
              </div>
              <script>
                async function myFunction() {
                  var x = document.getElementById("mySelect").value;
                  const orderId = '<%=orderDet._id%>';

                  Swal.fire({
                    title: "Are you sure?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes!"
                  }).then(async (result) => {
                    if (result.isConfirmed) {
                      try {
                        let response = await fetch(`/admin/updateStatus2?id=${orderId}&value=${x}`, {
                          method: 'PUT'
                        });

                        let data = await response.json();

                        if (data.success) {
                          await Swal.fire({
                            icon: "success",
                            title: "OrderStatus updated",
                          });
                          window.location.reload();
                        }
                      } catch (error) {
                        Swal.fire({
                          icon: "error",
                          title: "Oops...",
                          text: "Something went wrong!",
                        });
                      }
                    }
                  });
                }
              </script>

<div class="orderTracking">
  <div class="mb-3">
    <div class="trackingProgress">
      <div class="progress customProgress">
          <% 
          let progressPercentage = 0;
          switch(orderDet.orderStatus) {
              case 'Pending':
                  progressPercentage = 20;
                  break;
              
              case 'Shipped':
                  progressPercentage = 50;
                  break;
            
              case 'Delivered':
                  progressPercentage = 100;
                  break;
          }
          %>
          <div class="progress-bar customProgressBar" role="progressbar" aria-valuenow="<%= progressPercentage %>" aria-valuemin="0" aria-valuemax="100" ></div>
      </div>
  </div>
  
  <script>
      // JavaScript to dynamically set the width of the progress bar
      document.addEventListener("DOMContentLoaded", function() {
          const progressBar = document.querySelector(".customProgressBar");
          const progressPercentage1 =' <%= progressPercentage %>' // Retrieve progress percentage from server
          progressBar.style.width = progressPercentage1 + "%";
          progressBar.setAttribute("aria-valuenow", progressPercentage);
      });
  </script>
  </div>

  <div class="trackingProgressContent">
      <div class="row">
         
          <div class="col ps-0 pe-2 px-md-3">
              <% if(orderDet.orderStatus === 'Pending') { %>
                  <h4>Pending</h4>
                  
                  <h6 class="mb-0"><%= orderDet.updatedAt.toDateString() %></h6>
              <% } %>
          </div>

          <div class="col ps-0 pe-2 px-md-3">
              <% if(orderDet.orderStatus === 'Shipped') { %>
                  <div class="width-lg">
                      <h4>shipped</h4>
                      <h5><%= orderDet.updatedAt %></h5>
                      <h6 class="mb-0"><%= orderDet.updatedAt.toDateString() %></h6>
                  </div>
              <% } %>
          </div>

         

          <div class="col">
              <% if(orderDet.orderStatus === 'Delivered') { %>
                  <div class="float-end">
                      <h4>Delivered</h4>
                      
                      <h6 class="mb-0"><%= orderDet.updatedAt.toDateString() %></h6>
                  </div>
              <% } %>
          </div>
      </div>
  </div>
</div>

              <div class="row">
                <div class="col-12">
                  <div class="panel panel-default mb-5">
                    <div class="panel-heading">
                      <h4 class="panel-title">Order Details</h4>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-4">
                          <address class="mb-4">
                            <a href="#">Email:<%=userDet?.email%></a> <br>
                            <span>Phone:<%=userDet?.phone%></span>
                          </address>

                          <span>Additional Information: </span><br>
                          <address>
                            <%=userAdd?.firstName%> <br>
                              <%=userAdd?.addressLine1%> <br>
                                <%=userAdd?.phone%><br>
                                  <%=userAdd?.City%><br>
                          </address>
                        </div>
                      </div>




                      <div class="col-12 mb-5">
                        <div class="cartListInner text-nowrap">
                          <div class="table-responsive">
                            <table class="table table-dark">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Product Name</th>
                                  <th>Product Price</th>
                                  <th>Quantity</th>
                                  <th>Sub Total</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <% for(let i=0; i < orderDet?.cartData?.length; i++) { %>
                                <tbody>
                                  <tr class="alert alert-dismissible fade show p-0 mb-0" role="alert">
                                    <td>
                                      <span class="cartImage"><img style="height: 75px; width: 75px;"
                                          src="/assets/uploads/<%=orderDet?.cartData[i]?.productImage%>"
                                          alt="image"></span>
                                    </td>
                                    <td class="align-middle">
                                      <%=orderDet?.cartData[i]?.productName%>
                                    </td>
                                    <td class="align-middle">$ <%=orderDet?.cartData[i]?.productprice%>
                                    </td>
                                    <td class="align-middle">
                                      <%=orderDet?.cartData[i]?.productQuantity%>
                                    </td>
                                    <td class="align-middle">$ <%=orderDet?.cartData[i]?.totalCostPerProduct%>
                                    </td>
                                    <% if ('cancel'==orderDet?.cartData[i]?.Status) { %>
                                      <td class="align-middle" style="color: red;">
                                        <%=orderDet?.cartData[i]?.Status%>
                                      </td>
                                      <% } else { %>
                                        <td class="align-middle">
                                          <%=orderDet?.cartData[i]?.Status%>
                                        </td>
                                        <% } %>
                                          <td class="align-middle">
                                            <select style="width: 150px;" id="mySelect2_<%= i %>"
                                              class="form-select form-select-sm"
                                              onchange="myFunction2('<%= orderDet.cartData[i]._id %>', '<%= i %>')">
                                              <option selected>Select Status</option>
                                              <option value="Pending<%=i%>">Pending</option>
                                              <option value="cancel<%=i%>">cancel</option>
                                              <option value="Delivered<%=i%>">Delivered</option>
                                              <option value="Shipped<%=i%>">Shipped</option>
                                              <option value="Return<%=i%>">Return</option>
                                            </select>
                                          </td>
                                  </tr>
                                </tbody>
                                <% } %>
                            </table>

                            <ul class="list-unstyled">
                              <li>SubTotal <span>$ <%=orderDet?.grandTotalCost%></span></li>
                              <li>Discount<span>$<%=orderDet?.couponApplied%></span></li>
                              <li>Grand Total <span class="grandTotal">$ <%=orderDet?.Total%></span></li>
                            </ul>
                          </div>

                          <script>
                            async function myFunction2(id, i) {
                              const orderId = '<%=orderDet._id%>';
                              const selectElement = document.getElementById(`mySelect2_${i}`);
                              const selectedValue = selectElement.options[selectElement.selectedIndex].value;

                              Swal.fire({
                                title: "Are you sure?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes!"
                              }).then(async (result) => {
                                if (result.isConfirmed) {
                                  try {
                                    let response = await fetch(`/admin/updateStatus?id=${orderId}&value=${selectedValue}&cardid=${id}`, {
                                      method: 'PUT'
                                    });

                                    let data = await response.json();

                                    if (data.success) {
                                      await Swal.fire({
                                        icon: "success",
                                        title: "OrderStatus updated",
                                      });
                                      window.location.reload();
                                    }
                                  } catch (error) {
                                    Swal.fire({
                                      icon: "error",
                                      title: "Oops...",
                                      text: "Something went wrong!",
                                    });
                                  }
                                }
                              });
                            }
                          </script>
                        </div>
                      </div>


                      <script>
                        async function myFunction2(id, i) {
                          const orderId = '<%=orderDet._id%>';
                          const selectElement = document.getElementById(`mySelect2_${i}`);
                          const selectedValue = selectElement.options[selectElement.selectedIndex].value;

                          Swal.fire({
                            title: "Are you sure?",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes!"
                          }).then(async (result) => {
                            if (result.isConfirmed) {
                              try {
                                let response = await fetch(`/admin/updateStatus?id=${orderId}&value=${selectedValue}&cardid=${id}`, {
                                  method: 'PUT'
                                });

                                let data = await response.json();

                                if (data.success) {
                                  await Swal.fire({
                                    icon: "success",
                                    title: "OrderStatus updated",
                                  });
                                  window.location.reload();
                                }
                              } catch (error) {
                                Swal.fire({
                                  icon: "error",
                                  title: "Oops...",
                                  text: "Something went wrong!",
                                });
                              }
                            }
                          });
                        }
                      </script>





                      <div class="row">
                        <div class="col-md-6 col-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">Billing Address</h4>
                            </div>
                            <div class="panel-body">
                              <address>
                                <%=userAdd?.firstName%> <br>
                                  <%=userAdd?.addressLine1%> <br>
                                    <%=userAdd?.phone%><br>
                                      <%=userAdd?.City%><br>
                              </address>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">Shipping Address</h4>
                            </div>
                            <div class="panel-body">
                              <address>
                                <%=userAdd?.firstName%> <br>
                                  <%=userAdd?.addressLine1%> <br>
                                    <%=userAdd?.phone%><br>
                                      <%=userAdd?.City%><br>
                              </address>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">Payment Method</h4>
                            </div>
                            <div class="panel-body">
                              <address>
                                <span>
                                  <%=orderDet?.paymentType%>
                                </span>
                              </address>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 col-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">Shipping Method</h4>
                            </div>
                            <div class="panel-body">
                              <address>
                                <span>Door Delivery</span>
                              </address>
                            </div>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="btn-group" role="group" aria-label="...">
                            <!-- Additional buttons can be added here -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  </body>

  </html>