<!DOCTYPE html>
<html lang="en">
  
  <head>
  
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>big bags-Online Shopping India</title>
  
    <!-- PLUGINS CSS STYLE -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='assets/plugins/fontawesome-5.15.2/css/all.min.css' rel='stylesheet'>
    <link href='assets/plugins/fontawesome-5.15.2/css/fontawesome.min.css' rel='stylesheet'>
    <link href='assets/plugins/material/css/materialdesignicons.min.css' rel='stylesheet' />
    <link href="assets/plugins/animate/animate.css" rel="stylesheet">
    <link href='assets/plugins/simplebar/simplebar.css' rel='stylesheet' />
  
    <link href='assets/plugins/selectbox/select_option1.css' rel='stylesheet'>
  
  
    <link href='assets/plugins/iziToast/css/iziToast.css' rel='stylesheet'>
  
  
    <link rel='stylesheet' type='text/css' href='assets/plugins/slick/slick.css' media='screen'>
    <link rel='stylesheet' type='text/css' href='assets/plugins/slick/slick-theme.css' media='screen'>
  
    <!-- CUSTOM CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/default.css" id="option_style">
  
    <!-- Icons -->
    <!-- <link rel="icon" href="/public/assets/img/favicon.png"> -->
    <link rel="icon" type="image/png" href="assets/img/favicon.png">
  
  
  <!-- form validate -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
  integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
  integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  </head>
  
  
  <div class="main-wrapper home">
  
    <!-- HEADER -->
    <div class="header clearfix">
  
      <!-- HEADER SM -->
      <div class="header-sm bg-primary d-md-none">
        <div class="container-fluid">
          <div class="row">
            <div class="col-2">
              <a href="javascript:void(0)" class="headerToggle" id="sidebarToggle">
                <svg width="20" height="18" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="0" width="20" height="2" fill="white" />
                  <rect y="6" width="20" height="2" fill="white" />
                  <rect y="12" width="20" height="2" fill="white" />
                </svg>
              </a>
            </div>
  
            <div class="me-auto col-10 header-sm-logo-area">
              <img src="./assets/img/logo.png" alt="gg">
              
            </div>
  
          </div>
        </div>
      </div>
  
  
      <!-- TOPBAR -->
     
  
      <!-- NAVBAR -->
      <nav class="navbar navbar-main navbar-default navbar-expand-md navbar-scrollUp navbar-sticky d-none d-md-block"
        role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <img src="assets/img/logo1.png" alt="gg">
          <h1></h1>
         
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
            aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
  
  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item dropdown megaDropMenu ">
                    <a href="/admin" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown"
                      data-delay="300" data-close-others="true" aria-expanded="false">Home</b></a>
      
                  </li>
                  <li class="nav-item dropdown megaDropMenu ">
                    <a href="/usermanagement" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown"
                      data-delay="300" data-close-others="true" aria-expanded="false">Users</b></a>
      
                  </li>
                   <li class="nav-item dropdown megaDropMenu ">
                    <a href="/category" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown"
                      data-delay="300" data-close-others="true" aria-expanded="false">Category</b></a>
      
                  </li>
                  <li class="nav-item dropdown megaDropMenu ">
                    <a href="/product" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown"
                      data-delay="300" data-close-others="true" aria-expanded="false">Products</b></a>
      
                  </li>


            
            
              <li class="nav-item ">
                <form action="/adminlogout" method="post">
                    <button class="btn btn-danger btn-lg px-3" type="submit">Logout</button>
                </form>
  
              </li>
  
            </ul>
          </div><!-- /.navbar-collapse -->
  
        </div>
      </nav>
    </div>

    <div class="" style="margin-top: 100px;">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="adduser">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" placeholder="Username*" class="form-control" name="name" id="name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" placeholder="Email*" class="form-control" name="email" id="email">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="tel" placeholder="Phone*" name="phone" id="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" placeholder="Password*(At least 6 characters long)" name="password"
                                    id="password" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <form action="/adminsearch" method="post" class="d-flex">
                    <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success my-2" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><span class="lead fw-bold">Name</span></th>
                <th scope="col"><span class="lead fw-bold">Email</span></th>
                <th scope="col"><span class="lead fw-bold">Phone</span></th>
                <th scope="col"><span class="lead fw-bold">action</span></th>
            </tr>
        </thead>
        <%for(let i=0;i<userdet.length;i++){%>
            <tbody>
                <tr>
                    <td>
                        <span class="lead"><%=userdet[i].name%></span>
                    </td>
                    <td>
                        <span class="lead"> <%=userdet[i].email%></span>
                    </td>
                    <td>
                        <span class="lead"><%=userdet[i].phone%></span>
                    </td>
                    <td>
                        <% if(userdet[i].isBlocked){ %>
                            <button id="unblock<%i%>" onclick="toggleBlock('<%=userdet[i]._id %>','unblock')"
                                    type="button" class="btn btn-success">unblock</button>
                            <% }else{ %>
                                <button id="block<%i%>" onclick="toggleBlock('<%=userdet[i]._id %>','block')"
                                        type="button" class="btn btn-danger">Block</button>
                                <% } %>
                        


                        
                    </td>
                </tr>

            </tbody>
            <%}%>
    </table>
    
    <script>
        async function toggleBlock(userId, action) {
            Swal.fire({
                title: "Are you sure?",
                // text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then(async (result) => {
                if (result.isConfirmed) {   
                    let response = await fetch(`/userblock?id=${userId}&action=${action}`, {
                        method: 'GET',
                    })
                    let result = await response.json()
                    if (result.userstat) {
                        await Swal.fire({
                            icon: "success",
                            title: "User Blocked",
                        });
                    } else {
                        await Swal.fire({
                            icon: "success",
                            title: "User Unblocked",
                            confirmButtonText: "OK",
                        });
                    }
                }
                window.location.reload()
            });
        }
    
    </script>
       
       

                
  
      
    
    <script>



        

    </script>
</body>

</html>