<%- include('../adminpart/adminhead') %>

    <div class="" style="">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="adduser">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add User</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" placeholder="Username*" class="form-control" name="name" id="name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" placeholder="Email*" class="form-control" name="email" id="email">
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="tel" placeholder="Phone*" name="phone" id="phone" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" placeholder="Password*(At least 6 characters long)" name="password"
                                    id="password" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <form action="/adminsearch" method="post" class="d-flex">
                    <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success " type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"><span class="lead fw-bold">Name</span></th>
                <th scope="col"><span class="lead fw-bold">Email</span></th>
                <th scope="col"><span class="lead fw-bold">Phone</span></th>
                <th scope="col"><span class="lead fw-bold">action</span></th>
            </tr>
        </thead>
        <%for(let i=0;i<userdet.length;i++){%>
            <tbody>
                <tr>
                    <td>
                        <span class="lead"><%=userdet[i].name%></span>
                    </td>
                    <td>
                        <span class="lead"> <%=userdet[i].email%></span>
                    </td>
                    <td>
                        <span class="lead"><%=userdet[i].phone%></span>
                    </td>
                    <td>
                        <% if(userdet[i].isBlocked){ %>
                            <button id="unblock<%i%>" onclick="toggleBlock('<%=userdet[i]._id %>','unblock')"
                                    type="button" class="btn btn-success">unblock</button>
                            <% }else{ %>
                                <button id="block<%i%>" onclick="toggleBlock('<%=userdet[i]._id %>','block')"
                                        type="button" class="btn btn-danger">Block</button>
                                <% } %>
                        


                        
                    </td>
                </tr>

            </tbody>
            <%}%>
    </table>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <%for(i=0;i<totalPages;i++){%>
                <li class="page-item"><a class="page-link" href="/usermanagement?pages=<%=i+1%>">
                        <%=i+1%>
                    </a></li>
                <%}%>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
        </ul>
    </nav>
    <script>
        async function toggleBlock(userId, action) {
            Swal.fire({
                title: "Are you sure?",
                // text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes!"
            }).then(async (result) => {
                if (result.isConfirmed) {   
                    let response = await fetch(`/userblock?id=${userId}&action=${action}`, {
                        method: 'GET',
                    })
                    let result = await response.json()
                    if (result.userstat) {
                        await Swal.fire({
                            icon: "success",
                            title: "User Blocked",
                        });
                    } else {
                        await Swal.fire({
                            icon: "success",
                            title: "User Unblocked",
                            confirmButtonText: "OK",
                        });
                    }
                }
                window.location.reload()
            });
        }
    
    </script>
       
       

                
  
      
    
    <script>



        

    </script>
</body>

</html>